<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'pages.add-new-modal-inmueble' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="forma">
        <div class="modal-body">
            <div class="row">
                <div class="col-8 col-lg-8 col-xl-8">
                    <div>
                        <label class="form-group has-float-label">
                            <ng-select [items]="clientes" [multiple]="true" [closeOnSelect]="true" [searchable]="true"
                                bindLabel="fullName" [typeahead]="typeaheadCliente"
                                (change)=(onChangePropietario($event))
                                placeholder="Seleccione {{ 'forms.owner' | translate }}" formControlName="customer">
                            </ng-select>
                            <span>{{ 'cliente.name' | translate }}</span>
                        </label>
                    </div>
                    <div>
                        <label class="form-group has-float-label">
                            <input name="address" formControlName="address" type="text" class="form-control"
                                placeholder="" autocomplete="nope">
                            <span>{{ 'forms.address' | translate }}</span></label>
                    </div>
                    <div class="row">
                        <label class="form-group has-float-label col-md-6">
                            <select name="state" formControlName="state" class="form-control">
                                <option value="">Seleccione una provincia</option>
                                <option *ngFor="let item of state" [value]="item.iso_31662">{{item.provincia}}</option>
                            </select>
                            <span>{{ 'forms.state' | translate }}</span>
                        </label>
                        <label class="form-group has-float-label col-md-6">
                            <select name="city" formControlName="city" class="form-control">
                                <option value="">Seleccione una ciudad</option>
                                <option *ngFor="let item of city" [value]="item">{{item}}</option>
                            </select>
                            <span>{{ 'forms.city' | translate }}</span>
                        </label>
                    </div>
                </div>
                <div class="col-4 col-lg-4 col-xl-4">
                    <app-tickets [inmuebles]="inmuebles"></app-tickets>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary"
                (click)="modalRef.hide()">{{'pages.cancel' | translate }}</button>
            <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
        </div>
    </form>

</ng-template>