<div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="mb-4">{{ 'forms.inmuebles-detalle' | translate }}</h5>
                <form (ngSubmit)="onSubmit()" [formGroup]="forma">
                    <div class="row">
                        <label class="form-group has-float-label  col-md-6">
                      <ng-select [items]="inmuebles" [multiple]="false" [closeOnSelect]="true" [searchable]="true"  bindLabel="address" [typeahead]="typeaheadInmueble" placeholder="Select people" formControlName="inmueble">
                      </ng-select>
                      <span>{{ 'forms.owner' | translate }}</span>
                    </label>
                    </div>
                    <div class="row">
                        <label class="form-group has-float-label  col-md-4">
                      <ng-select [items]="items" [multiple]="true" [closeOnSelect]="true" [searchable]="true"  bindLabel="fullName" [typeahead]="typeahead" placeholder="Seleccione {{ 'forms.owner' | translate }}" formControlName="locador">
                      </ng-select>
                      <span>{{ 'forms.owner' | translate }}</span>
                    </label>
                        <label class="form-group has-float-label  col-md-4">
                      <ng-select [items]="items" [multiple]="true" [closeOnSelect]="true" [searchable]="true"  bindLabel="fullName" [typeahead]="typeahead" placeholder="Select people" formControlName="locatario">
                      </ng-select>
                      <span>{{ 'forms.owner' | translate }}</span>
                    </label>
                        <label class="form-group has-float-label  col-md-4">
                      <ng-select [items]="items" [multiple]="true" [closeOnSelect]="true" [searchable]="true"  bindLabel="fullName" [typeahead]="typeahead" placeholder="Select people" formControlName="fiador">
                      </ng-select>
                      <span>{{ 'forms.owner' | translate }}</span>
                    </label>
                    </div>
                    <div class="row">
                        <label class="form-group has-float-label  col-md-6">
                        <input name="monto" formControlName="monto" class="form-control" type="text" placeholder="" />
                        <span>Monto</span>
                      </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <pre>{{forma.value | json}}</pre>
</div>